<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="org.ict4h.atomfeed.spring"/>
    <import resource="classpath:atomFeedContext.xml"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
   		<property name="prefix">
   			<value>/WEB-INF/pages/</value>
   		</property>
   		<property name="suffix">
   			<value>.jsp</value>
   		</property>
   	</bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/feed/recent"/>
            <bean id="nonCachingWebContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
                <property name="cacheSeconds" value="0"/>
                <property name="useCacheControlHeader" value="true"/>
            </bean>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/*"/>
            <bean id="cachingWebContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
                <property name="cacheSeconds" value="31536000"/> <!-- One year -->
                <property name="useCacheControlHeader" value="true"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>