<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	
	<!-- / Module Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.cache_directory</property>
		<defaultValue>${project.parent.artifactId}</defaultValue>
		<description>Folder where the ever-growing feed file cache will be stored</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.username</property>
		<defaultValue></defaultValue>
		<description>This is the username of a user with READONLY writes to almost every object/table. The generaleventlistener class uses this user to find the details about objects that were updated</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.password</property>
		<defaultValue></defaultValue>
		<description>This is the password of a user with READONLY writes to almost every object/table. The generaleventlistener class uses this user to find the details about objects that were updated</description>
	</globalProperty>
	
	<!-- Required Modules -->
	<require_modules>
																											
		<require_module version="1.0">
			org.openmrs.event
		</require_module>
		
		<!-- 																			
		<require_module version="0.9">
			org.openmrs.module.webservices.rest
		</require_module>
		-->
		
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AtomFeedActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>
	
	<servlet>
		<servlet-name>atomfeed</servlet-name>
		<servlet-class>${project.parent.groupId}.${project.parent.artifactId}.web.AtomFeedDownloadServlet</servlet-class>
	</servlet>
	
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

